.WordCloudRow {
  display: grid;
  grid-column-gap: 16px;
  grid-template-columns: 5fr 4fr 2fr;
  border-bottom: 1px solid #e8e8e8;
  padding: 8px 0px;
}

.WordCloudRow > .BasicRow {
  border-bottom: transparent !important;
}

.WordCloudRow > .BasicRow:hover {
  background: transparent;
}
