.QueryBar {
  min-width: 400px;
  height: 34px;
  display: flex;
  align-items: flex-start;
  background-color: white;
  margin-left:20px;
  width:100%;
}

.QueryBar-container {
  background-color: white;
  border-radius: 2px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  border: 1px solid #e8e8e8;
}

@media (min-width: 1441px) and (max-width: 2114px){
  .QueryBar {
    margin-left: 10%;
  }
}
@media (min-width: 2115px){
  .QueryBar {
    margin-left: 20%;
  }
}