.InfoModal {
  position: absolute;
  z-index: 1000;
}
.InfoModal-mask {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.4);
}

.InfoModal-wrapper {
  position: absolute;
  overflow: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1100;
}

.InfoModal-container {
  box-sizing: border-box;
  width: 90%;
  padding: 0px;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  top: 50%;
  transform: translateY(-50%);
  background: rgb(255, 255, 255);
  padding: 16px;
  overflow: scroll;
  white-space: pre-wrap;
}

/* @media only screen and (min-width: 0px) and (max-width: 480px) {
  .InfoModal-container {
    max-width: 448px;
    min-width: 240px;
  }
}

@media only screen and (min-width: 481px) {
  .InfoModal-container {
    max-width: 720px;
    min-width: 448px
  }
} */

.InfoModal-container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.InfoModal-container-body {
  margin-bottom: 16px;
}

.InfoModal-button-close {
  text-align: center;
  cursor: pointer;
}
.InfoModal-button-close > i {
  vertical-align: middle;
}

.InfoModal-button-close {
  width: 32px;
  height: 32px;
  line-height: 32px;
}
