.FacetCard {
    overflow: auto;
}
.ant-spin-nested-loading > div > div > div > div > img
{
    width:10px;
}

#listHeader1,#listHeader2,#listHeader3{
    font-weight: bold;
}
#listHeader1{
    color: #046cc0;
}
#listHeader2{
    color: #d31325;
}
#listHeader3{
    color: #00784b;
}
#root > div > div > div.ant-spin-nested-loading > div > div > div{
    height:1px;
}